<div class="center hero-unit">
  <h1>Welcome to Pocket4Kindle</h1>

  <h2>
    This is the home page for the Pocket4Kindle App
  </h2>

  <%- if signed_in? %>
  	<p> Welcome <%= current_user.name  %> <%= link_to "Go to your profile page" , current_user %>	</p>
    <div class="row">
      <aside class="span4">
        <section>
          <%= render 'shared/user_info' %>
        </section>
        <section>
          <%= render 'shared/stats' %>
        </section>
        <section>
          <%= render 'shared/micropost_form' %>
        </section>
      </aside>
      <div class="span8">
        <h3>Micropost Feed</h3>
        <%= render 'shared/feed' %>
      </div>
    </div>
  <%- else %>
  	<%= link_to "Launch now", social_login_sessions_path , class: "btn btn-large btn-primary" %>
  <%- end %>	
</div>

<%= link_to image_tag("pocket4kindle.png", alt: "Rails"), root_path %>
