<div class="center hero-unit">
  <h1>Welcome to Pocket4Kindle</h1>

  <h2>
    This is the home page for the Pocket4Kindle App
  </h2>

  <%- if signed_in? %>

  	<p> Welcome <%= current_user.name  %> <%= link_to "Go to your profile page" , current_user %>	</p>
    <%= link_to "Launch your Pocket4Kindle now", social_login_sessions_path , class: "btn btn-large btn-primary" %>

  <%- else %>

    <%= link_to "Sign up now!", signup_path , class: "btn btn-large btn-primary" %>
  <%- end %>	
</div>

<%= link_to image_tag("pocket4kindle.png", alt: "Rails"), root_path %>
