<h3 id="toto"> <%= @item.title%> </h>

<head>
      <!-- Include the Monocle library and styles -->
      <script src="scripts/monocore.js"></script>
      <script src="scripts/monoctrl.js"></script>
      <link rel="stylesheet" type="text/css" href="styles/monocore.css" />
      <link rel="stylesheet" type="text/css" href="styles/monoctrl.css" />
    
    </head>

<p> 

<script > 
	(function($) {
	    $.fn.hasScrollBar = function() {
	    	
	        return this.get(0).scrollHeight > this.get(0).clientHeight;
	    }
	})(jQuery);
</script>
 </p>



<pre id="koko" class= "preStyle" >
	<div id="soso">
		<%= @item.content.html_safe%>
	</div>
</pre>

 <!-- Instantiate the reader when the containing element has loaded -->
      <script>
       function createStencil(rdr) {
    	var stencil = new Monocle.Controls.Stencil(rdr);
    	rdr.addControl(stencil);
	    // This line is useful mostly for testing:
	    // it highlights the stencil's link cutouts.
	    stencil.toggleHighlights();
	  }

      Monocle.Reader('koko',null, null,  function (rdr) {
      window.reader = rdr;
      
      createStencil(rdr);
    });</script>


<%= link_to 'Archive',archive_sessions_path(id: @item.item_id) %>

<%- if @item.favorite == 0 %>
          <%= link_to 'Favorite',favorite_sec_sessions_path(given_url: @item.url, item_id: @item.item_id) %>
        <%- else %>
          <%= link_to 'unFavorite',unfavorite_sec_sessions_path(given_url: @item.url,item_id: @item.item_id) %>
<%- end %>
