<h3 id="toto"> <%= @item.title%> </h>


<p> 

<script > 
	(function($) {
	    $.fn.hasScrollBar = function() {

	        return this.get(0).scrollHeight > this.height();
	    }
	})(jQuery);
</script>
 </p>

<pre id="koko" class= "preStyle" > <%= raw(@y) %> </pre>


<%= link_to 'Archive',archive_sessions_path(id: @item.item_id) %>

<%- if @item.favorite == 0 %>
          <%= link_to 'Favorite',favorite_sec_sessions_path(given_url: @item.url, item_id: @item.item_id) %>
        <%- else %>
          <%= link_to 'unFavorite',unfavorite_sec_sessions_path(given_url: @item.url,item_id: @item.item_id) %>
<%- end %>



<p >

  <script > 
$(function(){
    alert('pre: ' + $('#koko').hasScrollBar());
});</script></p>