 <!-- <pre> <%= @info %> </pre> -->
 <h1>Recent Media</h1>

<table>


  <tbody>
      <% current_user.articles.each do |i| %>
      <tr>
        <td><%= i.title %></td>
      	<td><%= link_to 'Go to it',i.url %></td>
        <td><%= link_to 'Show',embed_sessions_path(item_id: i.item_id) %></td>
        <%- if i.favorite == 0 %>
          <td><%= link_to 'Favorite',favorite_sessions_path(id: i.item_id) %></td>
        <%- else %>
          <td><%= link_to 'Unfavorite',unfavorite_sessions_path(id: i.item_id) %></td>
        <%- end %>
        <td><%= link_to 'Archive',archive_sessions_path(id: i.item_id) %></td>
        <td><%= link_to 'Delete',delete_sessions_path(id: i.item_id) %></td>
        <td> about <%= distance_of_time_in_words(i.estimated_time) %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Send to Kindle", send_to_kindle_sessions_path , class: "btn btn-large btn-primary" %>